<div class="container">
	<div class="contactPage">
		<h1>Have any questions? Want us to handle large scale campaigns for your brand?</h1>
		<a href="mailto:info@brandslip.com" class="btn btn-default blue">Reach Out</a>
	</div>
</div>