<style type="text/css">
	html, body {
		background: url(../assets/influencer-bg.jpeg);
		background-size: cover;
		background-attachment: fixed;	
	}
</style> 
<div class="container">
	<div class="row" id="errorPage">
		<div class="col-md-6 influencerSignup error"> 
			<h2>Oops</h2>
			<p>Well.. this is awkward. We couldn't find the page you were looking for.</p>
			<%= link_to "Go Home", root_path, :class => "btn btn-default blue" %>
		</div>
	</div>
</div>